<div class="wrapper">
  <!-- Navbar -->
  <app-header *ngIf="showHeader"></app-header>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <app-sidebar *ngIf="showSidebar"></app-sidebar>
  <!-- Content Wrapper. Contains page content -->

        <router-outlet></router-outlet>
     
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <app-footer *ngIf="showFooter"></app-footer>
</div>



<!-- <app-header *ngIf="showHeader" fxLayout="column"></app-header>

<div fxLayout="row" fxFlex="100">
  <app-sidebar *ngIf="showSidebar" fxLayout="column" fxFlex="300px"></app-sidebar>
  <div class="content" fxLayout="column" fxFlex> -->
   
  <!-- </div>
</div>

<app-footer *ngIf="showFooter" fxLayout="column"></app-footer> -->

