

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
   
    <!-- /.content-header -->
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Dashboard</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
      
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-default">
                  <div class="card-header">
                    <h3 class="card-title">
                      <i class="fas fa-bullhorn"></i>
                      {{frameworkName}}
                    </h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body" *ngFor="let emp of employeeCompetencyList">
                    
                    <div class="callout callout-success" *ngIf="emp.isComplete">
                     <a [routerLink]="['/competencydetail',emp.competencyFrameworkID]" href="#" style="cursor: hand;"> <h2>{{emp.competencyName}} 
                       <small class="badge badge-primary"> Completed</small></h2>  
                      </a>
                      <h4><b>Employee Comment</b></h4>
                      <p [innerHTML]="emp.employeeCommnet | truncate:[150, '...']"></p>
                      <hr>
                      <h4><b>Line Manager Comment</b></h4>
                      <p [innerHTML]="emp.reviewerComment | truncate:[150, '...']"></p>
                    </div>
                    <div class="callout callout-info" *ngIf="emp.isDraft || emp.IsSave">
                      <a [routerLink]="['/competencydetail',emp.competencyFrameworkID]" href="#" style="cursor: hand;">
                      <h2>{{emp.competencyName}} <small class="badge badge-primary"> In Progress</small></h2></a>
                      <h4><b>Employee Comment</b></h4>
                      <p [innerHTML]="emp.employeeCommnet | truncate:[150, '...'] "></p>
                      <hr>
                      <h4><b>Line Manager Comment</b></h4>
                      <p [innerHTML]="emp.reviewerComment | truncate:[150, '...'] "></p>                    </div>
                  </div>
                  <!-- /.card-body -->
                <!-- /.card -->
              </div>
              <!-- /.col -->
              <!-- /.card -->
            </div>
          </div>
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>